.product {
    margin-top: 5rem;
    &-grid {
        display: grid;
        grid-template-columns: 34.4rem minmax(auto, 52.8rem);
        column-gap: 2.4rem;
    }
    &-img {
        border-radius: 1.2rem;
        overflow: hidden;
        box-shadow: 2px 2px 30px rgba(209, 220, 243, 0.5);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 1/1;
            transition: all .3s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    &-title {
        margin-top: -.2em;
    }
    &-price {
        margin-top: 3rem;
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 1.2em;
        color: var(--clr-accent);
    }
    &-color {
        margin-top: 2rem;
        font-weight: 400;
        font-size: 2rem;
        line-height: 1;
        display: flex;
        align-items: center;
        column-gap: 1.8rem;
    }
    @media (min-width: 700px) {
        &-info {
            position: relative;
            padding-bottom: 8rem;
        }
        &-btn {
            position: absolute;
            bottom: 0;
        }
    }
}

@media (max-width: 1023px) {
    .product {
        &-grid {
            grid-template-columns: 28rem minmax(auto, 52.8rem);
            column-gap: 1.8rem;
        }
        &-wrap {
            margin-top: 3rem;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            max-width: 40rem;
        }
        &-price, &-color {
            margin: 0;
        }
    }
}

@media (max-width: 767px) { 
    .product {
        &-swatch {
            max-width: 3rem;
        }
        &-color {
            font-size: 1.8rem;
            column-gap: 2.3rem;
        }
        &-price {
            font-size: 2.2rem;
        }
    }
}

@media (max-width: 699px) {
    .product {
        margin-top: 4rem;
        &-grid {
            display: flex;
            flex-direction: column;
            row-gap: 4rem;
        }
        &-img {
            max-width: 35rem;
            margin: 0 auto;
        }
        &-btn {
            margin-top: 3rem;
        }
    }
}