.card {
    text-decoration: none;
    color: var(--clr-primary);
    &:hover {
        .card-img {
            img {
                transform: scale(1.1);
            }
        }
    }
    &-img {
        box-shadow: 2px 2px 30px rgba(209, 220, 243, 0.5);
        border-radius: 6px;
        aspect-ratio: 1/1;
        overflow: hidden;
        max-height: 252px;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all .5s;
        }
    }
    &-title, &-price {
        font-weight: 500;
        line-height: 1.2em;
        text-transform: uppercase;
    }
    &-title {
        margin-top: 2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        font-size: clamp(1.4rem, 2vw, 1.8rem);
    }
    &-price {
        margin-top: 1.4rem;
        color: var(--clr-accent);
        font-size: clamp(1.6rem, 2vw, 1.8rem);
    }
}

@media (max-width: 575px) {
    .card {
        &-title, &-price {
            margin-top: 1rem;
        }
    }
}